<html lang="en">

<head>
  <style>
    body {
      background-color: #2185D0;
      color: white;
    }
  </style>
</head>

<body>
  <div class="ui grid">
    <div class="one column row">
      <div class="column">
        {{#link-to 'index'}}<img src="images/studiBuddyLogo.png" style="width:100px" />{{/link-to}}
      </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <div class="two column row">
      <div class="three wide column"></div>
      <div class="ten wide column" style="text-align:left;">
        <div class="ui piled segment" style="color: #2185D0;">
          <h4 class="ui header" style="text-align:center; color: #2185D0;">studiBuddy</h4>
          <p>studiBuddy is the brain child of Matt Clinard. It was created out of the need for a central hub that people could connect and find others
          interested in studying various topics without the need of ever having to meet other group members in person to set a study group up. </p>
            <p>version 0.0.1</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
{{outlet}}
