<html>

<head>
  <style>
    body {
      background-color: #2185D0;
      color: white;
    }
  </style>
</head>

<body>
  <div class="ui grid">
    <div class="two column row">
      <div class="five wide column">
        {{#link-to 'index'}}<img src="images/studiBuddyLogo.png" style="width:100px;"/>{{/link-to}}
      </div>
      <div class="eleven wide column right aligned">
        <div class="ui left icon input" style="color: #2185D0;">
          <input type="text" placeholder="Username">
          <i class="users icon"></i>
        </div>
        <div class="ui left icon input">
          <input type="password" placeholder="Password">
          <i class="lock icon" style="color: #2185D0"></i>
        </div>
      {{#link-to 'class-list'}}  <button class="ui blue floated button" style="height: 38px; width: 100px; border: #ffffff; border-style: solid; border-width: 1px;">Login</button> {{/link-to}}
      {{#link-to 'sign-up'}}  <button class="ui blue floated button" style="height: 38px; width: 100px; border: #ffffff; border-style: solid; border-width: 1px;">Sign up</button>  {{/link-to}}
      </div>
    </div>

    <div class=" three column row">
      <div class=" three wide column"></div>
      <div class ="ten wide column center aligned" style="text-align:left;">
        <div class="ui segments" >
        <div class="ui segment" style="color:#2185D0">
          <h1>Welcome</h1>
          <p><h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend lacus in dapibus varius. Nullam imperdiet arcu orci, sit amet dictum purus viverra id. Suspendisse consectetur libero erat, quis porta dolor vulputate eget. Maecenas
            risus augue, dignissim ac nisi id, laoreet ultricies justo. Ut vitae lorem mi. Vivamus vitae bibendum ante, eu efficitur metus. Nulla lacinia posuere imperdiet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
            mus. Duis pellentesque, justo nec ultricies hendrerit, felis sem convallis diam, sed laoreet neque sapien in neque. Integer non egestas dolor, in maximus nunc. Integer dictum justo accumsan massa gravida, a varius neque hendrerit. Mauris
            enim mauris, egestas ac consectetur scelerisque, semper at mauris. Sed pretium urna id tincidunt ornare. Mauris sed pharetra neque. Ut dolor dui, tempor vitae augue id, feugiat convallis diam.
            </h5></p>
        </div>
          <div class="ui segment" style="color:#2185D0">
            <h1>More News</h1>
            <p><h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend lacus in dapibus varius. Nullam imperdiet arcu orci, sit amet dictum purus viverra id. Suspendisse consectetur libero erat, quis porta dolor vulputate eget. Maecenas
              risus augue, dignissim ac nisi id, laoreet ultricies justo. Ut vitae lorem mi. Vivamus vitae bibendum ante, eu efficitur metus. Nulla lacinia posuere imperdiet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
              mus. Duis pellentesque, justo nec ultricies hendrerit, felis sem convallis diam, sed laoreet neque sapien in neque. Integer non egestas dolor, in maximus nunc. Integer dictum justo accumsan massa gravida, a varius neque hendrerit. Mauris
              enim mauris, egestas ac consectetur scelerisque, semper at mauris. Sed pretium urna id tincidunt ornare. Mauris sed pharetra neque. Ut dolor dui, tempor vitae augue id, feugiat convallis diam.
            </h5></p>
          </div>
          <div class="ui segment" style="color:#2185D0">
            <h1>Some More News</h1>
            <p><h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend lacus in dapibus varius. Nullam imperdiet arcu orci, sit amet dictum purus viverra id. Suspendisse consectetur libero erat, quis porta dolor vulputate eget. Maecenas
              risus augue, dignissim ac nisi id, laoreet ultricies justo. Ut vitae lorem mi. Vivamus vitae bibendum ante, eu efficitur metus. Nulla lacinia posuere imperdiet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
              mus. Duis pellentesque, justo nec ultricies hendrerit, felis sem convallis diam, sed laoreet neque sapien in neque. Integer non egestas dolor, in maximus nunc. Integer dictum justo accumsan massa gravida, a varius neque hendrerit. Mauris
              enim mauris, egestas ac consectetur scelerisque, semper at mauris. Sed pretium urna id tincidunt ornare. Mauris sed pharetra neque. Ut dolor dui, tempor vitae augue id, feugiat convallis diam.
              </h5></p>
          </div>
        </div>
      </div>
      <div class="three wide column"></div>
    </div>
  </div>
</body>

</html>
{{outlet}}
