<html lang="en">

<head>
  <style>
    body {
      background-color: #2185D0;
      color: white;
    }
    tbody{
      color:#2185D0;
    }
  </style>
</head>

<body>
  <div class="ui grid">
    <div class="one column row">
      <div class="column">
        {{#link-to 'index'}}<img src="images/studiBuddyLogo.png" style="width:100px" />{{/link-to}}
      </div>
    </div>
    <div class="two column row">
      <div class="five wide column"></div>
      <div class="six wide column" style="text-align:left;">
        <table class="ui definition table">
          <tbody>
            <tr>
              <td class="two wide column">Class</td>
              <td>CITC-2375</td>
            </tr>
            <tr>
              <td>Date</td>
              <td>2017-10-21</td>
            </tr>
            <tr>
              <td>Time</td>
              <td>13:00:00</td>
            </tr>
            <tr>
              <td>Location</td>
              <td>MC254</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="two column row">
      <div class="six wide column"></div>
      <div class="eight wide column" style="text-align:left;">
        {{#link-to 'class-list'}}<button class="ui blue floated button" style="height: 38px; width: 160px; border: #ffffff; border-style: solid; border-width: 1px;">Back to Calendar</button>{{/link-to}}
        {{#link-to 'join-group-success'}}<button class="ui blue floated button" style="height: 38px; width: 160px; border: #ffffff; border-style: solid; border-width: 1px;">Join this group?</button>{{/link-to}}
      </div>
    </div>
  </div>
</body>

</html>
{{outlet}}
