<html lang="en">

<head>
  <title>studiBuddy - Sign Up</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */

    .row.content {
      height: 1500px
    }
    /* Set gray background color and 100% height */

    .sidenav {
      background-color: #1f6fef;
      height: 100%;
    }
    /* Set background color and white text */

    body {
      background-color: #1f6fef;
      color: white;
    }
    /* All links will be white with no decoration*/

    a {
      color: white;
      text-decoration: none;
    }
    /* All link hover text will be white with no decoration*/

    a:hover {
      color: white;
      text-decoration: none;
    }
    /*set panel text to studiBuddy blue*/

    .panel {
      color: #1f6fef;
    }
    /*set background colors of buttons to studiBuddy blue and text to white*/

    .btn {
      background-color: #1f6fef;
      color: white;
    }
    /*set background color to white and text to studiBuddy blue on hover*/

    .btn:hover {
      background-color: white;
      color: #1f6fef;
    }
    /* On small screens, set height to 'auto' for sidenav and grid */

    @media screen and (max-width: 1200px) {
      .sidenav {
        height:225px;
        padding: 15px;
      }
      .row.content {
        height: auto;
      }
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="row content">
      <div class="col-md-2 sidenav">
        <br>
        <a href="index.html"><img src="images/studiBuddyLogo.png" class="img-responsive"></a>
      </div>
      <form>
        <br>
        <div class="col-md-2 col-md-offset-5 input-group">
          <form action="/action_page.php">
            <br><br><br><br><br><br><br><br>
            <div class="form-group">
              <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstName">
            </div>
            <br><br>
            <div class="form-group">
              <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName">
            </div>
            <br><br>
            <div class="form-group">
              <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <br><br>
            <div class="form-group">
              <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
            </div>
            <br><br>
            <div class="form-group">
              <input type="password" class="form-control" id="verify-pwd" placeholder="Verify password" name="verify-pwd">
            </div>
            <br><br>
            <div class="checkbox">
              <label><input type="checkbox" name="remember"> Remember me</label>
            </div>
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </form>
    </div>
  </div>
</body>

</html>
{{outlet}}
